
<section id="testimonials" class="testimonials section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Testimonial</h2>
    <p>Testimonial Written from customers to {{ doctorName }}</p>
  </div>
  @if( testimonials.length !== 0) {
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="testimonials-slider swiper init-swiper">
      <div class="swiper-wrapper">
        @for (testimonial of testimonials; track testimonial) {
        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="testimonial-content">
              <p>
                <i class="bi bi-quote quote-icon"></i>
                {{ testimonial.content }}
              </p>
            </div>
            <div class="testimonial-profile">
              <div class="rating">
                @for (star of arrayOfRating(testimonial.rating); track $index) {
                <i class="bi bi-star-fill text-dark-yellow"></i>
                }
              <span class="ms-2 text-muted">({{ testimonial.rating }}/5)</span>

              </div>
              <div class="profile-info">
                <img [src]="getFullImageUrl(testimonial.custImgURL)" alt="Profile Image" />
                <div>
                  <h3>{{ testimonial.customerFullname }}</h3>
                  <h4 class="text-muted">{{ testimonial.reviewDate | date :'medium' }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <div>
        <button class="btn btn-outline-primary" (click)="bookAppointment()">Book Now</button>
        <!-- <button class=" btn btn-outline-warning ms-2" (click)="makeReview()">Make a Review</button> -->
        <button class=" btn btn-outline-danger ms-2" (click)="goBack()">Go Back</button>
    </div>
  </div>
}
@else {
<div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="testimonial-card text-center p-4 border rounded shadow-sm bg-light">
    <div class="testimonial-content">
      <p class="mb-0 text-muted">
        <i class="bi bi-info-circle-fill me-2 text-primary"></i>
        No testimonials available for Dr. <strong>{{ doctorName }}</strong>
      </p>
      <div class="mt-4">
        <button class=" btn btn-outline-danger ms-2" (click)="goBack()">Go Back</button>
        <button class="btn btn-outline-primary ms-2 " (click)="bookAppointment()">Book Now</button>
      </div>

    </div>
  </div>
</div>

}
</section>