<div class="container mt-5">
  <h2>Your Cart</h2>

  <div *ngIf="cartItems.length === 0" class="alert alert-info">
    Your cart is empty.
  </div>

  <div *ngFor="let item of cartItems; let i = index" class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
      <img 
       [src]="server + item.imgUrl" 
       class="card-img rounded bg-light p-2" 
       alt="{{ item.name }}"
       style="height: 150px; width: 100%; object-fit: contain;"
        >

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text text-primary">Price: {{ item.price | currency:'USD' }}</p>
          <button class="btn btn-danger btn-sm" (click)="removeItem(i)">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cartItems.length > 0" class="d-flex justify-content-end mt-3 gap-2">
  <button class="btn btn-primary" (click)="clearCart()">Clear Cart</button>
  <button class="btn btn-success" (click)="checkout()">Checkout</button>
</div>

</div>
