<!-- Hero Section -->
<section id="hero" class="hero section">
  <div
    class="container section-title aos-init aos-animate pb-0"
    data-aos="fade-up"
  >
    <h2>Pet Details</h2>
    <p>Add a new pet for adoption or rescue</p>

    <div class="my-3 d-flex justify-content-center gap-3">
      <a routerLink="/pets" class="btn btn-outline-primary btn-sm">All Pets</a>
      <a routerLink="/doctors" class="btn btn-outline-primary btn-sm"
        >Our Vets</a
      >
    </div>
  </div>
</section>

<div class="container pb-5">
  <div *ngIf="loading" class="text-center">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-3">Loading pet details...</p>
  </div>

  <div *ngIf="!loading && pet" class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg border-0">
        <div class="row g-0">
          <div class="col-md-5">
            <img
              [src]="getFullImageUrl(pet.imgUrl)"
              class="img-fluid rounded-start"
              alt="{{ pet.name }}"
              style="height: 100%; object-fit: cover"
            />
          </div>
          <div class="col-md-7">
            <div class="card-body p-4">
              <h3 class="card-title text-dark fw-bold">{{ pet.name }}</h3>
              <p class="card-text mb-2">
                <strong>Status:</strong>
                <span class="text-primary">
                  {{
                    pet.status === 0
                      ? "Owned"
                      : pet.status === 1
                      ? "For Adoption"
                      : "For Rescue"
                  }}
                </span>
              </p>
              <p class="card-text mb-2">
                <strong>Breed: </strong>
                <span class="text-muted">{{ pet.breadName }}</span>
              </p>
              <p class="card-text mb-2">
                <strong>Category: </strong>
                <span class="text-muted">{{ pet.categoryName }}</span>
              </p>
              <p class="card-text mb-2">
                <strong>Ownership: </strong>
                <span class="text-muted">{{
                  getOwnershipLabel(pet.ownership)
                }}</span>
              </p>
              <p class="card-text mb-4">
                <strong>Owner: </strong>
                <span class="text-muted"> {{ pet.customerName }}</span>
              </p>
              <div class="mt-3 d-flex gap-2">
                <a
                  [routerLink]="['/pets/update', UrlId]"
                  class="btn btn-warning btn-sm"
                  *ngIf="
                    authService.isAuthenticated() &&
                    authService.getUserId() === pet.customerId
                  "
                >
                  Update
                </a>
                <a
                  class="btn btn-danger btn-sm"
                  (click)="deletePetById(pet.id)"
                  *ngIf="
                    authService.isAuthenticated() &&
                    authService.getUserId() === pet.customerId
                  "
                >
                  Delete
                </a>
                <button
                  class="btn btn-primary btn-sm"
                  [disabled]="!isDataReady"
                  *ngIf="!isDataReady && authService.isAuthenticated()"
                >
                  loading
                </button>
                <button
                  class="btn btn-primary btn-sm"
                  *ngIf="
                    isDataReady &&
                    authService.isAuthenticated() &&
                    authService.getUserId() !== pet.customerId &&
                    !requestedPetIds.includes(pet.id)
                  "
                  (click)="sendAdoptionRequest(pet)"
                >
                  Adopt Now
                </button>
                <button
                  *ngIf="requestedPetIds.includes(pet.id)"
                  class="btn btn-danger btn-sm"
                  (click)="cancelAdoptionRequest(pet)"
                >
                  Cancel Request
                </button>
                <p *ngIf="!authService.isAuthenticated()">
                  <a routerLink="/login">Login</a> , to adopt or add a new pet
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="error && !loading" class="alert alert-danger text-center mt-4">
    {{ error }}
  </div>
</div>
