

<section id="hero" class="hero section pb-0">
    <div class="container section-title aos-init aos-animate pb-0" data-aos="fade-up">
        <h2>Our Vets</h2>
        <p>Meet the trusted professionals dedicated to keeping your pets safe, healthy, and happy.</p>
    </div>

    <div class="container d-flex justify-content-center">

        <form method="get" class="col-md-8 mb-4 mt-4">

            <div class="row g-3">
                <div class="col-md-4">
                    <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Search by name..."  />
                </div>

                <div class="col-md-4">
                    <input type="number" name="maxPrice" [(ngModel)]="maxPrice" class="form-control" placeholder="Max price per hour" step="1" value="" />
                </div>

                <div class="col-md-4">
                    <select [(ngModel)]="specialty" class="form-select" name="specialty">
                        <option value="" selected disabled>-- All Specialties --</option>
                        @for ( speciality of specialities; track speciality.value )
                        {
                            <option [value]="speciality.value" >{{speciality.specialityName}}</option>

                            <!-- @if (item.Value == "specialty")
                            {
                                <option [value]="speciality.value" selected>{{speciality.specialityName}}</option>
                            }
                            @else
                            {
                                <option [value]="speciality.value">{{speciality.specialityName}}</option>
                            }  -->
                        }
                    </select>
                </div>
            </div>

            <div class="row g-3 mt-2 justify-content-center">
                <div class="col-md-3 d-grid">
                    <button type="submit" class="btn btn-primary" (click)="search()">Search</button>
                </div>

            </div>

        </form>
    </div>
    <div class="container d-flex justify-content-center">

        <!-- if didn't find any -->
    @if (typeof allDoctors== "string" || errorFound)
    {
        <div class="alert alert-danger text-center">
            {{errorMesseage}}
        </div>
    }


    </div>


</section>
@if(typeof allDoctors != "string" && !errorFound) {
<section id="team" class="team section light-background">
    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-5">
            @for( doctor of allDoctors ; track doctor.id)
            {
                <div class="col-md-6 col-lg-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                    <a [routerLink]="['/doctors', doctor.id]"
                                   class="text-dark text-decoration-none">
                    <div class="team-card text-center">
                        <div class="team-image">
                            <img src="{{server}}{{doctor.imgUrl}}"
                                 class="img-fluid"
                                 alt="Dr. {{doctor.fName}} {{doctor.lName}}" />
                            <div class="team-overlay">
                                <p>
                                    {{doctor.petSpecialty}} specialist<br />
                                    Rate: <strong>{{doctor.pricePerHour | currency:'EGP':true}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="team-content">
                            <h4>
                                <a asp-controller="Doctors"
                                   asp-action="Profile"
                                   class="text-dark text-decoration-none">
                                    Dr. {{doctor.fName}} {{doctor.lName}}
                                </a>
                            </h4>
                            <span class="position">{{doctor.petSpecialty}}</span>
                            <div class="rating mt-2">
                                <i class="bi bi-star-fill text-dark-yellow"></i>
                                <i class="bi bi-star-fill text-dark-yellow"></i>
                                <i class="bi bi-star-fill text-dark-yellow"></i>
                                <i class="bi bi-star-half text-dark-yellow"></i>
                                <i class="bi bi-star text-dark-yellow"></i>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            } 
        </div>
    </div>
</section>
}